#window-library {
  .media {
    &-list-container {
      overflow-x: auto;
      min-height: calc(100vh - 82px);

      scroll-snap-type: y proximity;
      scrollbar-width: none;
    }

    &-list {
      display: flex;
      width: -moz-fit-content;

      padding: 10vh 10vw;

      li {
        scroll-snap-align: center;

        &:not(:last-of-type) {
          margin-right: 60px;
        }
      }
    }

    &-item {
      width: auto;

      background-color: transparent;
      border: none;

      &:hover {
        .media-image {
          transform: scale(1.1);
          filter: brightness(120%);
        }

        .media-name {
          opacity: 1;
        }
      }
    }

    &-image {
      width: 300px;
      height: 400px;

      background-color: #ccc;
      background-position-y: -1px;
      background-size: cover;

      border: 1px solid rgba(0, 0, 0, 0.5);
      border-radius: 10px;

      filter: brightness(110%);
      box-shadow:
        3px 3px 5px rgba(0, 0, 0, 0.3),
        -2px -2px 5px rgba(0, 0, 0, 0.3),
        inset 1px 1px 0 rgba(255, 255, 255, 0.4),
        inset -1px -1px 0 rgba(255, 255, 255, 0.4);

      transition: filter 300ms, transform 300ms;

      &.moving {
        position: absolute;
        visibility: visible;

        left: var(--position-x);
        top: var(--position-y);

        transition: all 2000ms;
      }

      &.moved {
        left: 5vw;
        top: 5vh;
        transform: scale(1.0);
      }
    }

    &-name {
      width: 300px;
      margin-top: 40px;

      font-size: 1.5rem;
      font-weight: 500;
      text-align: center;

      opacity: 0;
      transition: opacity 250ms;
    }
  }


  .app-media {
    display: flex;
    min-height: calc(100vh - 82px);
    padding: 5vh 5vw;

    position: relative;
    overflow: hidden;

    & > *:not(.app-media-background) {
      z-index: 2;
    }

    &-background {
      position: absolute;
      left: -5vw;
      top: -5vh;

      width: 110vw;
      height: 110vh;

      background-color: #bbb;
      background-size: cover;
      filter: blur(6px) brightness(50%);
    }

    &-image {
      width: 300px;
      height: 300px * 4/3;

      background-color: #ccc;
      background-position-y: -1px;
      background-size: cover;

      border: 1px solid rgba(0, 0, 0, 0.5);
      border-radius: 10px;

      filter: brightness(110%);
      box-shadow:
        3px 3px 5px rgba(0, 0, 0, 0.3),
        -2px -2px 5px rgba(0, 0, 0, 0.3),
        inset 1px 1px 0 rgba(255, 255, 255, 0.4),
        inset -1px -1px 0 rgba(255, 255, 255, 0.4);
    }

    &-contents {
      width: 50vw;
      margin-left: 50px;

      color: #f5f5f5;
    }

    h1 {
      margin: 1.5rem 0;

      font-size: 3.1rem;
    }

    p {
      font-size: 1rem;
      line-height: 1.8;
    }

    button {
      width: max-content;

      margin-top: 20px;
      padding: 0.5em 1.2em;

      background-color: #fff;
      border: 2px solid #111;
      border-radius: 5px;
      box-shadow: inset -3px -3px 3px rgba(0, 0, 0, 0.3);

      color: #333;
      font-size: 0.9rem;
      font-weight: 600;

      transition: background-color 150ms;

      &:hover {
        background-color: #ddd;
      }
    }


    .episode {
      $thumbnail-width: 250px;

      &-selector {
        margin-top: 20px;
        padding: 20px;

        background-color: rgba(#000, 0.5);
        border-radius: 5px;
      }

      &-seasonselector {
        width: 200px;

        margin-bottom: 20px;
        padding: 0.5em 1.2em;

        background-color: rgba(#fff, 0.1);
        border: 2px solid #fff;
        border-radius: 5px;

        color: #fff;
        font-size: 0.95rem;
        font-weight: 500;

        option {
          background-color: #fff;

          color: #000;

          &[disabled] {
            color: #777;
          }
        }
      }

      &-list {
        display: flex;
        height: 300px;

        overflow-x: auto;
      }

      &-list li {
        width: $thumbnail-width;

        margin: 0 10px;

        &.episode_unavailable .episode-thumbnail {
          filter: grayscale(0.9);
        }

        &:not(.episode_unavailable) .episode-thumbnail:hover {
          filter: brightness(1.1);

          path {
            fill: #fff;
          }
        }
      }

      &-thumbnail {
        display: flex;
        width: $thumbnail-width;
        height: $thumbnail-width / 1.78;

        margin-bottom: 10px;

        background-color: rgba(#fff, 0.6);
        background-size: cover;

        transition: filter 200ms;

        svg {
          margin: auto;
        }

        path {
          fill: transparent; // rather than 'none' for the transition
          transition: fill 200ms;
        }
      }

      &-title {
        @include line-clamp(1);

        padding: 0 5px;

        font-size: 1rem;
        font-weight: 600;
      }

      &-description {
        @include line-clamp(5);

        padding: 0 5px;

        line-height: 1.3;
        text-align: justify;
      }
    }
  }
}

