@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@380&display=swap');


@mixin spinner($color) {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;

   div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: $color;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);

    &:nth-child(1) {
      left: 8px;
      animation: lds-ellipsis1 0.6s infinite;
    }

    &:nth-child(2) {
      left: 8px;
      animation: lds-ellipsis2 0.6s infinite;
    }

    &:nth-child(3) {
      left: 32px;
      animation: lds-ellipsis2 0.6s infinite;
    }

    &:nth-child(4) {
      left: 56px;
      animation: lds-ellipsis3 0.6s infinite;
    }
  }
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}


@keyframes horizontal-loading {
  0% {
    background-position: 0;
  }

  100% {
    background-position: 100vw 0;
  }
}


// ------------------------------------

* {
  box-sizing: border-box;
}

body {
  margin: 0;

  font-family: "Helvetica Neue";
  font-size: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul {
  margin-top: 0;
  padding-left: 0;
}

li {
  list-style: none;
}

button {
  display: block;
  width: 100%;

  color: inherit;
  font-size: 0;
  text-align: left;

  cursor: pointer;
  -moz-appearance: none;
}


// == WINDOWS ======

[id^="window-"]:not(.active) {
  display: none;
}


#window-loading {
  text-align: center;
}

.lds-ellipsis {
  margin-top: calc(50vh - 40px);
  @include spinner(#000);
}


#window-devices {
  h2 {
    margin: 1em 0 1.5em 0;

    font-size: 1.5rem;
    text-align: center;
  }


  button {
    padding: 1em;

    background-color: #fefefe;
    border: 1px solid #bbb;

    font-size: 0.7rem;

    transition: background-color 300ms;

    &:hover {
      background-color: #eee;
    }

    .device-name {
      font-size: 1.1rem;
      font-weight: 600;
    }

    .device-model {
      margin-top: 0.3em;

      color: #aaa;
      font-size: 0.9rem;
    }
  }

  li {
    &:not(:first-of-type) button {
      border-top-width: 0;
    }

    &:first-of-type button {
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    }

    &:last-of-type button {
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
    }
  }
}


#window-app {
  --back-color: #eee;
  --front-color: #000;

  background-color: var(--back-color);
  min-height: 100vh;

  @for $i from 0 to 6 {
    --front-color-#{$i}: #{lighten(#000, $i * 10%)};
  }

  @for $i from 0 to 6 {
    --back-color-#{$i}: #{darken(#fff, $i * 10%)};
  }

  @media (prefers-color-scheme: dark) {
    --back-color: #111;
    --front-color: #fff;

    @for $i from 0 to 6 {
      --front-color-#{$i}: #{darken(#fff, $i * 10%)};
    }

    @for $i from 0 to 6 {
      --back-color-#{$i}: #{lighten(#000, $i * 10%)};
    }
  }

  color: var(--front-color);

  /* HEIGHT: 5.1rem, excluding padding: 3.1rem */
  header {
    padding: 1rem 5vw;

    .title {
      display: inline-block;
      margin: 0.8rem 0;

      font-family: "Public Sans", sans-serif;
      font-size: 1.5rem;
      font-variation-settings: "wght" 650;
      font-weight: 500;
      line-height: 1;
    }

    .device {
      &-data {
        width: 250px;
        float: right;

        &:hover, &.dropdown-active {
          .device-current {
            background-color: var(--back-color-0);
            border-color: var(--back-color-2);
          }

          .device-dropdown-arrow {
            color: var(--front-color-0);
          }
        }

        &.dropdown-active {
          .device-current {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
          }

          .device-select {
            display: block;
          }

          .device-current, .device-select li {
            box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
          }
        }
      }

      &-current {
        display: flex;
        width: 100%;

        background-color: var(--back-color-1); // #e6e6e6
        padding: 0.4rem 0.9rem;

        border: 1px solid transparent;
        border-radius: 3px;

        transition: all 200ms;
      }

      &-dropdown-arrow {
        width: 0;
        height: 0;
        
        margin: auto 0 auto auto;

        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 7px solid currentColor;

        color: var(--back-color-5);
        transition: color 200ms;
      }

      /* HEIGHT: 2.3rem */
      &-info {
        line-height: 1;
      }

      &-name {
        font-size: 1.1rem;
        font-weight: 500;

        transition: color 300ms;
      }

      &-model {
        margin-top: 0.3em;
        color: #aaa;
        font-size: 0.9rem;

        transition: color 300ms;
      }

      &-select {
        display: none;
        width: 250px;

        position: absolute;
        top: 4.2rem;

        z-index: 10;

        li {
          background-color: var(--back-color);
          border: solid var(--back-color-2);
          border-width: 0 1px 1px 1px;

          font-size: 1rem;

          &:first-of-type {
            border-top: none;
          }

          &:last-of-type {
            border-radius: 0 0 3px 3px;
          }

          &:hover {
            background-color: var(--back-color-0);
          }
        }

        a {
          display: block;
          padding: 0.4rem 0.9rem;
        }
      }
    }
  }

  nav {
    display: inline-block;
    margin: 1.05rem 0 0 100px;

    vertical-align: top;

    li {
      display: inline-block;
      margin-right: 30px;
    }

    a {
      border-bottom: 2px solid transparent;
      padding-bottom: 2px;

      color: var(--front-color-5);
      font-size: 0.8rem;
      font-weight: 600;
      text-transform: uppercase;

      transition: border-bottom-color 300ms, color 300ms;

      &.active {
        color: var(--front-color);

        cursor: default;
      }

      &:not(.active):hover {
        border-bottom-color: var(--front-color-2);

        color: var(--front-color-2);
      }
    }
  }

  .app-container {
    // margin-bottom: 82px; // 120px;
  }

  .file {
    &-list {
      margin: 50px 0 0 50px; // tmp
      width: 500px;

      li:not(:first-of-type) .file-item {
        border-top-width: 0;
      }

      &.loading .file {
        &-item {
          cursor: progress;
        }

        &-thumbnail, &-name, &-details {
          animation: horizontal-loading 2s forwards infinite linear;
          background-image: linear-gradient(to right, #eee 0%, #eee 40%, #ddd 50%, #eee 60%, #eee 100%);
          background-size: 100vw;
          -webkit-backface-visibility: hidden;
        }

        &-name {
          width: 200px;
        }

        &-details {
          width: 120px;
        }
      }

      &:not(.loading) .file-item {
        &:hover {
          background-color: #eee;
        }
      }
    }

    &-item {
      padding: 10px;

      background-color: transparent;
      border: 1px solid #bbb;

      transition: background-color 100ms;

      &:hover {
        // background-color: #eee;
      }
    }

    &-thumbnail {
      display: inline-block;
      background-color: #eee;

      width: 40px;
      height: 40px;
    }

    &-info {
      display: inline-block;
      vertical-align: top;

      margin-left: 0.6rem;
      padding: 0.3rem 0;

      line-height: 1;
    }

    &-name {
      font-size: 0.9rem;
      font-weight: 500;
    }

    &-details {
      margin-top: 0.3rem;

      color: #888;
      font-size: 0.8rem;
    }
  }

  .media {
    &-list-container {
      overflow-x: auto;
      min-height: calc(100vh - 82px);
      scroll-snap-type: y proximity;
    }

    &-list {
      display: flex;
      width: -moz-fit-content;

      padding: 10vh 10vw;

      li {
        scroll-snap-align: center;

        &:not(:last-of-type) {
          margin-right: 60px;
        }
      }
    }

    &-item {
      width: auto;

      background-color: transparent;
      border: none;

      &:hover {
        .media-image {
          transform: scale(1.1);
          filter: brightness(120%);
        }

        .media-name {
          opacity: 1;
        }
      }
    }

    &-image {
      width: 300px;
      height: 400px;

      background-color: #ccc;
      background-position-y: -1px;
      background-size: cover;

      border: 1px solid rgba(0, 0, 0, 0.5);
      border-radius: 10px;

      filter: brightness(110%);
      box-shadow:
        3px 3px 5px rgba(0, 0, 0, 0.3),
        -2px -2px 5px rgba(0, 0, 0, 0.3),
        inset 1px 1px 0 rgba(255, 255, 255, 0.4),
        inset -1px -1px 0 rgba(255, 255, 255, 0.4);

      transition: filter 300ms, transform 300ms;
    }

    &-name {
      width: 300px;
      margin-top: 40px;

      font-size: 1.5rem;
      font-weight: 500;
      text-align: center;

      opacity: 0;
      transition: opacity 250ms;
    }
  }

  .play {
    &-bar {
      display: none;

      background-color: #222;
      width: 100vw;

      position: fixed;
      bottom: 0;

      padding: 1rem 5vw;
    }

    &-thumbnail {
      display: inline-block;
      // background-color: #222;

      width: 50px;
      height: 50px;
    }

    &-name {
      display: inline-block;
      vertical-align: top;

      margin-left: 0.8rem;
      padding: 0.9rem 0;

      color: #fff;
      font-size: 1.2rem;
      font-weight: 500;
      line-height: 1;
    }
  }
}


.card {
  width: 30vw;
  margin: 20vh auto 0 auto;
  padding: 10px 40px 30px 40px;

  border: 1px solid #ccc;
  border-radius: 5px;
}

