@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@380&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;700&display=swap');


@mixin line-clamp($lines) {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines;
}

@mixin spinner($color) {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;

   div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: $color;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);

    &:nth-child(1) {
      left: 8px;
      animation: lds-ellipsis1 0.6s infinite;
    }

    &:nth-child(2) {
      left: 8px;
      animation: lds-ellipsis2 0.6s infinite;
    }

    &:nth-child(3) {
      left: 32px;
      animation: lds-ellipsis2 0.6s infinite;
    }

    &:nth-child(4) {
      left: 56px;
      animation: lds-ellipsis3 0.6s infinite;
    }
  }
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}


@keyframes horizontal-loading {
  0% {
    background-position: 0;
  }

  100% {
    background-position: 100vw 0;
  }
}


// ------------------------------------

* {
  box-sizing: border-box;
}

body {
  margin: 0;

  font-family: Heebo, "Helvetica Neue";
  font-size: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: initial;

  font-size: initial;
}

ul {
  margin-top: 0;
  padding-left: 0;
}

li {
  list-style: none;
}

button {
  display: block;
  width: 100%;

  color: inherit;
  font-size: 0;
  text-align: left;
}

button, select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;

  cursor: pointer;

  font-family: inherit;
}


/* [id^="window-"]:not(.active) {
  display: none;
} */


// overlay loading

body.loading {
  overflow: hidden;

  #app {
    filter: blur(2px);
  }
}

.overlay {
  width: 100vw;
  height: 100vh;

  position: fixed;
  z-index: 10;
  background-color: rgba(#fff, 0.6);

  text-align: center;

  &-message, &-spinner {
    margin-top: 45vh;
  }

  &-spinner {
    @include spinner(#000);
  }

  a {
    color: #0074d9;

    &:hover {
      text-decoration: underline;
    }
  }

  body:not(.loading) & {
    display: none;
  }
}



/* #window-devices {
  h2 {
    margin: 1em 0 1.5em 0;

    font-size: 1.5rem;
    text-align: center;
  }


  button {
    padding: 1em;

    background-color: #fefefe;
    border: 1px solid #bbb;

    font-size: 0.7rem;

    transition: background-color 300ms;

    &:hover {
      background-color: #eee;
    }

    .device-name {
      font-size: 1.1rem;
      font-weight: 600;
    }

    .device-model {
      margin-top: 0.3em;

      color: #aaa;
      font-size: 0.9rem;
    }
  }

  li {
    &:not(:first-of-type) button {
      border-top-width: 0;
    }

    &:first-of-type button {
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    }

    &:last-of-type button {
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
    }
  }
} */


#app {
  --back-color: #eee;
  --front-color: #000;

  background-color: var(--back-color);
  min-height: 100vh;

  @for $i from 0 to 6 {
    --front-color-#{$i}: #{lighten(#000, $i * 10%)};
  }

  @for $i from 0 to 6 {
    --back-color-#{$i}: #{darken(#fff, $i * 10%)};
  }

  @media (prefers-color-scheme: dark) {
    --back-color: #111;
    --front-color: #fff;

    @for $i from 0 to 6 {
      --front-color-#{$i}: #{darken(#fff, $i * 10%)};
    }

    @for $i from 0 to 6 {
      --back-color-#{$i}: #{lighten(#000, $i * 10%)};
    }
  }

  color: var(--front-color);

  /* HEIGHT: 5.1rem, excluding padding: 3.1rem */
  header {
    padding: 1rem 5vw;

    .title {
      display: inline-block;
      margin: 0.8rem 0;

      font-family: "Public Sans", sans-serif;
      font-size: 1.5rem;
      font-variation-settings: "wght" 650;
      font-weight: 500;
      line-height: 1;
    }

    .device {
      &-data {
        width: 250px;
        float: right;

        &:hover, &.dropdown-active {
          .device-current {
            background-color: var(--back-color-0);
            border-color: var(--back-color-2);
          }

          .device-dropdown-arrow {
            color: var(--front-color-0);
          }
        }

        &.dropdown-active {
          .device-current {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
          }

          .device-select {
            display: block;
          }

          .device-current, .device-select li {
            box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
          }
        }
      }

      &-current {
        display: flex;
        width: 100%;

        background-color: var(--back-color-1); // #e6e6e6
        padding: 0.4rem 0.9rem;

        border: 1px solid transparent;
        border-radius: 3px;

        transition: all 200ms;
      }

      &-dropdown-arrow {
        width: 0;
        height: 0;

        margin: auto 0 auto auto;

        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 7px solid currentColor;

        color: var(--back-color-5);
        transition: color 200ms;
      }

      /* HEIGHT: 2.3rem */
      &-info {
        line-height: 1;
      }

      &-name {
        font-size: 1.1rem;
        font-weight: 500;

        transition: color 300ms;
      }

      &-model {
        margin-top: 0.3em;
        color: #aaa;
        font-size: 0.9rem;

        transition: color 300ms;
      }

      &-info-blank {
        padding: 0.63rem 0;

        color: #888;
        font-size: 1rem;
        font-style: italic;
        line-height: 1;
      }

      &-select {
        display: none;
        width: 250px;

        position: absolute;
        top: 4.2rem;

        z-index: 10;

        li {
          background-color: var(--back-color);
          border: solid var(--back-color-2);
          border-width: 0 1px 1px 1px;

          font-size: 1rem;

          &:first-of-type {
            border-top: none;
          }

          &:last-of-type {
            border-radius: 0 0 3px 3px;
          }

          &:not(.device-item-blank):hover {
            background-color: var(--back-color-0);
          }

          &.device-item-blank {
            cursor: default;
            padding: 0.4rem 0.9rem;
          }
        }

        a {
          display: block;
          padding: 0.4rem 0.9rem;
        }
      }
    }
  }

  nav {
    display: inline-block;
    margin: 1.05rem 0 0 100px;

    vertical-align: top;

    li {
      display: inline-block;
      margin-right: 30px;
    }

    a {
      padding-bottom: 2px;

      color: var(--front-color-5);
      font-size: 0.8rem;
      font-weight: 600;
      letter-spacing: 0.3px;
      text-transform: uppercase;

      transition: color 200ms;

      &.active {
        color: var(--front-color);

        cursor: default;
      }

      &:not(.active):hover {
        color: var(--front-color-2);

        &:after {
          width: 100%;
          background-color: var(--front-color-2);
        }
      }

      &:after {
        display: block;
        height: 2px;
        width: 0;

        content: "";
        background: var(--front-color-5);

        transition: background-color 200ms, width 200ms;
      }
    }
  }

  .app-container {
    &.hidden {
      display: none;

      /* pointer-events: none;
      z-index: 3;

      .media-list-container {
        position: relative;
      }

      .media-list {
        position: absolute;
      }

      .media-image:not(.moving) {
        //opacity: 0;
      }

      .media-image.moving ~ .media-name {
        visibility: hidden;
      } */
    }

    /* &:not(.hidden) .media-item:hover .media-name {
      opacity: 1;
    }

    .media-image {
      transition: opacity 2000ms;
    } */
  }

  /* .file {
    &-list {
      margin: 50px 0 0 50px; // tmp
      width: 500px;

      li:not(:first-of-type) .file-item {
        border-top-width: 0;
      }

      &.loading .file {
        &-item {
          cursor: progress;
        }

        &-thumbnail, &-name, &-details {
          animation: horizontal-loading 2s forwards infinite linear;
          background-image: linear-gradient(to right, #eee 0%, #eee 40%, #ddd 50%, #eee 60%, #eee 100%);
          background-size: 100vw;
          -webkit-backface-visibility: hidden;
        }

        &-name {
          width: 200px;
        }

        &-details {
          width: 120px;
        }
      }

      &:not(.loading) .file-item {
        &:hover {
          background-color: #eee;
        }
      }
    }

    &-item {
      padding: 10px;

      background-color: transparent;
      border: 1px solid #bbb;

      transition: background-color 100ms;

      &:hover {
        // background-color: #eee;
      }
    }

    &-thumbnail {
      display: inline-block;
      background-color: #eee;

      width: 40px;
      height: 40px;
    }

    &-info {
      display: inline-block;
      vertical-align: top;

      margin-left: 0.6rem;
      padding: 0.3rem 0;

      line-height: 1;
    }

    &-name {
      font-size: 0.9rem;
      font-weight: 500;
    }

    &-details {
      margin-top: 0.3rem;

      color: #888;
      font-size: 0.8rem;
    }
  } */

  .media {
    &-list-container {
      overflow-x: auto;
      min-height: calc(100vh - 82px);

      scroll-snap-type: y proximity;
      scrollbar-width: none;
    }

    &-list {
      display: flex;
      width: -moz-fit-content;

      padding: 10vh 10vw;

      li {
        scroll-snap-align: center;

        &:not(:last-of-type) {
          margin-right: 60px;
        }
      }
    }

    &-item {
      width: auto;

      background-color: transparent;
      border: none;

      &:hover {
        .media-image {
          transform: scale(1.1);
          filter: brightness(120%);
        }

        .media-name {
          opacity: 1;
        }
      }
    }

    &-image {
      width: 300px;
      height: 400px;

      background-color: #ccc;
      background-position-y: -1px;
      background-size: cover;

      border: 1px solid rgba(0, 0, 0, 0.5);
      border-radius: 10px;

      filter: brightness(110%);
      box-shadow:
        3px 3px 5px rgba(0, 0, 0, 0.3),
        -2px -2px 5px rgba(0, 0, 0, 0.3),
        inset 1px 1px 0 rgba(255, 255, 255, 0.4),
        inset -1px -1px 0 rgba(255, 255, 255, 0.4);

      transition: filter 300ms, transform 300ms;

      &.moving {
        position: absolute;
        visibility: visible;

        left: var(--position-x);
        top: var(--position-y);

        transition: all 2000ms;
      }

      &.moved {
        left: 5vw;
        top: 5vh;
        transform: scale(1.0);
      }
    }

    &-name {
      width: 300px;
      margin-top: 40px;

      font-size: 1.5rem;
      font-weight: 500;
      text-align: center;

      opacity: 0;
      transition: opacity 250ms;
    }
  }


  .app-media {
    display: flex;
    min-height: calc(100vh - 82px);
    padding: 5vh 5vw;

    position: relative;
    overflow: hidden;

    /* &:not(.active) {
      display: none;
    } */

    & > *:not(.app-media-background) {
      z-index: 2;
    }

    /* &-background-container {
      overflow: hidden;
      position: relative;
    } */

    &-background {
      position: absolute;
      left: -5vw;
      top: -5vh;

      width: 110vw;
      height: 110vh;

      background-color: #bbb;
      background-size: cover;
      filter: blur(6px) brightness(50%);
    }

    &-image {
      width: 300px;
      height: 300px * 4/3;

      // tmp copy

      background-color: #ccc;
      background-position-y: -1px;
      background-size: cover;

      border: 1px solid rgba(0, 0, 0, 0.5);
      border-radius: 10px;

      filter: brightness(110%);
      box-shadow:
        3px 3px 5px rgba(0, 0, 0, 0.3),
        -2px -2px 5px rgba(0, 0, 0, 0.3),
        inset 1px 1px 0 rgba(255, 255, 255, 0.4),
        inset -1px -1px 0 rgba(255, 255, 255, 0.4);
    }

    &-contents {
      width: 50vw;
      margin-left: 50px;

      color: #f5f5f5;
    }

    h1 {
      margin: 1.5rem 0;

      font-size: 3.1rem;
    }

    p {
      font-size: 1rem;
      line-height: 1.8;
    }

    button {
      width: max-content;

      margin-top: 20px;
      padding: 0.5em 1.2em;

      background-color: #fff;
      border: 2px solid #111;
      border-radius: 5px;
      box-shadow: inset -3px -3px 3px rgba(0, 0, 0, 0.3);

      color: #333;
      font-size: 0.9rem;
      font-weight: 600;

      transition: background-color 150ms;

      &:hover {
        background-color: #ddd;
      }
    }


    .episode {
      $thumbnail-width: 250px;

      &-selector {
        margin-top: 20px;
        padding: 20px;

        background-color: rgba(#000, 0.5);
        border-radius: 5px;
      }

      &-seasonselector {
        width: 200px;

        margin-bottom: 20px;
        padding: 0.5em 1.2em;

        background-color: rgba(#fff, 0.1);
        border: 2px solid #fff;
        border-radius: 5px;

        color: #fff;
        font-size: 0.95rem;
        font-weight: 500;

        option {
          background-color: #fff;

          color: #000;

          &[disabled] {
            color: #777;
          }
        }
      }

      &-list {
        display: flex;
        height: 300px;

        overflow-x: auto;
      }

      &-list li {
        width: $thumbnail-width;

        margin: 0 10px;

        &.episode_unavailable .episode-thumbnail {
          filter: grayscale(0.9);
        }

        &:not(.episode_unavailable) .episode-thumbnail:hover {
          filter: brightness(1.1);

          path {
            fill: #fff;
          }
        }
      }

      &-thumbnail {
        display: flex;
        width: $thumbnail-width;
        height: $thumbnail-width / 1.78;

        margin-bottom: 10px;

        background-color: rgba(#fff, 0.6);
        background-size: cover;

        transition: filter 200ms;

        svg {
          margin: auto;
        }

        path {
          fill: transparent; // rather than 'none' for the transition
          transition: fill 200ms;
        }
      }

      &-title {
        @include line-clamp(1);

        padding: 0 5px;

        font-size: 1rem;
        font-weight: 600;
      }

      &-description {
        @include line-clamp(5);

        padding: 0 5px;

        line-height: 1.3;
        text-align: justify;
      }
    }
  }


  /* .play {
    &-bar {
      display: none;

      background-color: #222;
      width: 100vw;

      position: fixed;
      bottom: 0;

      padding: 1rem 5vw;
    }

    &-thumbnail {
      display: inline-block;
      // background-color: #222;

      width: 50px;
      height: 50px;
    }

    &-name {
      display: inline-block;
      vertical-align: top;

      margin-left: 0.8rem;
      padding: 0.9rem 0;

      color: #fff;
      font-size: 1.2rem;
      font-weight: 500;
      line-height: 1;
    }
  } */
}


.card {
  width: 30vw;
  margin: 20vh auto 0 auto;
  padding: 10px 40px 30px 40px;

  border: 1px solid #ccc;
  border-radius: 5px;
}

