@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@380&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;700&display=swap');


@import "./mixins.scss";
@import "./normalize.scss";

@import "./library.scss";


// overlay loading

body.loading {
  overflow: hidden;

  #app {
    filter: blur(2px);
  }
}

.overlay {
  width: 100vw;
  height: 100vh;

  position: fixed;
  z-index: 10;
  background-color: rgba(#fff, 0.6);

  text-align: center;

  &-message, &-spinner {
    margin-top: 45vh;
  }

  &-spinner {
    @include spinner(#000);
  }

  a {
    color: #0074d9;

    &:hover {
      text-decoration: underline;
    }
  }

  body:not(.loading) & {
    display: none;
  }
}



#app {
  --back-color: #eee;
  --front-color: #000;

  background-color: var(--back-color);
  min-height: 100vh;

  @for $i from 0 to 6 {
    --front-color-#{$i}: #{lighten(#000, $i * 10%)};
  }

  @for $i from 0 to 6 {
    --back-color-#{$i}: #{darken(#fff, $i * 10%)};
  }

  @media (prefers-color-scheme: dark) {
    --back-color: #111;
    --front-color: #fff;

    @for $i from 0 to 6 {
      --front-color-#{$i}: #{darken(#fff, $i * 10%)};
    }

    @for $i from 0 to 6 {
      --back-color-#{$i}: #{lighten(#000, $i * 10%)};
    }
  }

  color: var(--front-color);

  /* HEIGHT: 5.1rem, excluding padding: 3.1rem */
  header {
    padding: 1rem 5vw;

    .title {
      display: inline-block;
      margin: 0.8rem 0;

      font-family: "Public Sans", sans-serif;
      font-size: 1.5rem;
      font-variation-settings: "wght" 650;
      font-weight: 500;
      line-height: 1;
    }

    .device {
      &-data {
        width: 250px;
        float: right;

        &:hover, &.dropdown-active {
          .device-current {
            background-color: var(--back-color-0);
            border-color: var(--back-color-2);
          }

          .device-dropdown-arrow {
            color: var(--front-color-0);
          }
        }

        &.dropdown-active {
          .device-current {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
          }

          .device-select {
            display: block;
          }

          .device-current, .device-select li {
            box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
          }
        }
      }

      &-current {
        display: flex;
        width: 100%;

        background-color: var(--back-color-1); // #e6e6e6
        padding: 0.4rem 0.9rem;

        border: 1px solid transparent;
        border-radius: 3px;

        transition: all 200ms;
      }

      &-dropdown-arrow {
        width: 0;
        height: 0;

        margin: auto 0 auto auto;

        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 7px solid currentColor;

        color: var(--back-color-5);
        transition: color 200ms;
      }

      /* HEIGHT: 2.3rem */
      &-info {
        line-height: 1;
      }

      &-name {
        font-size: 1.1rem;
        font-weight: 500;

        transition: color 300ms;
      }

      &-model {
        margin-top: 0.3em;
        color: #aaa;
        font-size: 0.9rem;

        transition: color 300ms;
      }

      &-info-blank {
        padding: 0.63rem 0;

        color: #888;
        font-size: 1rem;
        font-style: italic;
        line-height: 1;
      }

      &-select {
        display: none;
        width: 250px;

        position: absolute;
        top: 4.2rem;

        z-index: 10;

        li {
          background-color: var(--back-color);
          border: solid var(--back-color-2);
          border-width: 0 1px 1px 1px;

          font-size: 1rem;

          &:first-of-type {
            border-top: none;
          }

          &:last-of-type {
            border-radius: 0 0 3px 3px;
          }

          &:not(.device-item-blank):hover {
            background-color: var(--back-color-0);
          }

          &.device-item-blank {
            cursor: default;
            padding: 0.4rem 0.9rem;
          }
        }

        a {
          display: block;
          padding: 0.4rem 0.9rem;
        }
      }
    }
  }

  nav {
    display: inline-block;
    margin: 1.05rem 0 0 100px;

    vertical-align: top;

    li {
      display: inline-block;
      margin-right: 30px;
    }

    a {
      padding-bottom: 2px;

      color: var(--front-color-5);
      font-size: 0.8rem;
      font-weight: 600;
      letter-spacing: 0.3px;
      text-transform: uppercase;

      transition: color 200ms;

      &.active {
        color: var(--front-color);

        pointer-events: none;
      }

      &:not(.active):hover {
        color: var(--front-color-2);

        &:after {
          width: 100%;
          background-color: var(--front-color-2);
        }
      }

      &:after {
        display: block;
        height: 2px;
        width: 0;

        content: "";
        background: var(--front-color-5);

        transition: background-color 200ms, width 200ms;
      }
    }
  }

  .app-container {
    &.hidden {
      display: none;
    }
  }
}


.card {
  width: 30vw;
  margin: 20vh auto 0 auto;
  padding: 10px 40px 30px 40px;

  border: 1px solid #ccc;
  border-radius: 5px;
}

