@mixin line-clamp($lines) {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines;
}


@mixin spinner($color) {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;

 div {
    position: absolute;
    top: 33px;

    width: 13px;
    height: 13px;

    background: $color;
    border-radius: 50%;

    animation-timing-function: cubic-bezier(0, 1, 1, 0);

    &:nth-child(1) {
      left: 8px;
      animation: lds-ellipsis1 0.6s infinite;
    }

    &:nth-child(2) {
      left: 8px;
      animation: lds-ellipsis2 0.6s infinite;
    }

    &:nth-child(3) {
      left: 32px;
      animation: lds-ellipsis2 0.6s infinite;
    }

    &:nth-child(4) {
      left: 56px;
      animation: lds-ellipsis3 0.6s infinite;
    }
  }
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}


@keyframes horizontal-loading {
  0% {
    background-position: 0;
  }

  100% {
    background-position: 100vw 0;
  }
}


@mixin triangle-right($size: 0.4em, $padding-right: 0.5em) {
  position: relative;

  &:after {
    content: '';
    width: 0;
    height: 0;

    position: absolute;
    right: $padding-right;
    top: 0.9em;

    border-color: transparent;
    border-style: solid;
    border-width: $size (0.9 * $size) 0 $size;
    border-top-color: currentColor;
  }
}

@mixin arrow-side($side, $distance, $background-color, $border-color) {
  position: relative;

  &:before, &:after {
    content: '';
    position: absolute;

    @if $side == top or $side == bottom {
      left: $distance;
    } @else if $side == left or $side == right {
      top: $distance;
    }

    border-style: solid;
    border-color: transparent;
  }

  &:before { // background
    border-width: 7px;

    @if $side == top or $side == bottom {
      margin-left: -7px;
    } @else if $side == left or $side == right {
      margin-top: -7px;
    }

    @if $side == top {
      top: -7px;
      border-bottom-color: $background-color;
      border-top-width: 0;
    } @else if $side == bottom {
      bottom: -7px;
      border-top-color: $background-color;
      border-bottom-width: 0;
    } @else if $side == left {
      left: -7px;
      border-right-color: $background-color;
      border-left-width: 0;
    } @else if $side == right {
      right: -7px;
      border-left-color: $background-color;
      border-right-width: 0;
    }

    z-index: 2;
  }

  &:after { // border
    border-width: 9px;

    @if $side == top or $side == bottom {
      margin-left: -9px;
    } @else if $side == left or $side == right {
      margin-top: -9px;
    }

    @if $side == top {
      top: -9px;
      border-bottom-color: $border-color;
      border-top-width: 0;
    } @else if $side == bottom {
      bottom: -9px;
      border-top-color: $border-color;
      border-bottom-width: 0;
    } @else if $side == left {
      left: -9px;
      border-right-color: $border-color;
      border-left-width: 0;
    } @else if $side == right {
      right: -9px;
      border-left-color: $border-color;
      border-right-width: 0;
    }
  }
}

