* {
  box-sizing: border-box;
}

body {
  margin: 0;

  font-size: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: initial;

  font-size: initial;
}

ul {
  margin-top: 0;
  padding-left: 0;
}

li {
  list-style: none;
}

button {
  display: block;
  width: 100%;

  color: inherit;
  font-size: 0;
  text-align: left;
}

button, input, select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;

  font-family: inherit;
}

button, input[type="range"], select {
  cursor: pointer;
}

