#window-player {
  width: 100vw;
  height: calc(100vh - 82px);

  .player {
    width: 100%;
    height: 100%;

    position: relative;

    video {
      width: 100%;
      height: 100%;

      background-color: #000;
    }


    &-spinnercontainer {
      display: flex;
      width: 100%;
      height: 100%;

      position: absolute;
      left: 0;
      top: 0;
    }

    &-spinner {
      width: 100px;
      height: 100px;

      margin: auto;

      circle {
        stroke: #fff;
        stroke-linecap: round;
        stroke-width: 5;

        animation: player-spinner 5s infinite linear;
      }
    }

    &:not(._loading) .player-spinner {
      display: none;
    }


    /* Controls */
    $control-cursor-shadow: 1px 1px 1px rgba(#000, 0.3);

    &-controlscontainer {
      width: 100%;

      position: absolute;
      left: 0;
      bottom: 0;
    }

    &-controls {
      width: 50vw;
      max-width: 500px;

      opacity: 0;
      visibility: hidden;
      transition: visibility 0s 300ms, opacity 300ms;

      margin: 0 auto 70px auto;
      padding: 10px 20px;

      // backdrop-filter: blur(5px);
      background-color: rgba(#ccc, 0.9);
      border-radius: 5px;

      text-align: center;

      button {
        display: inline-block;
        width: auto;

        padding: 0;

        background: none;
        border: none;

        &:hover svg {
          fill: #111;
        }
      }

      svg {
        width: 24px;
        height: 24px;

        fill: #333;

        transition: fill 200ms;
      }
    }

    &._controllable .player-controls {
      opacity: 1;
      visibility: visible;
      transition: visibility 0s 0s, opacity 300ms;
    }


    &-ctrlsettings {
      display: grid;
      grid-template-columns: 1fr auto 1fr;

      margin-bottom: 0.4rem;
    }

    &-ctrlvol {
      display: flex;
      align-items: center; /* reduces height of input to the minimum */

      text-align: left;

      input[type="range"] {
        width: 80px;
        margin: 0;

        background: none;

        &::-moz-range-progress, &::-moz-range-track {
          height: 3px;
          border-radius: 1000px;
        }

        &::-moz-range-progress {
          background-color: #3b7cff;
        }

        &::-moz-range-track {
          background-color: #828282;
        }

        &::-moz-range-thumb {
          width: 0.63rem;
          height: 0.65rem;

          background-color: #fff;
          border: none;
          box-shadow: $control-cursor-shadow;
        }
      }

      button {
        padding-right: 0.4rem;
      }

      svg:nth-of-type(n+2) {
        display: none;
      }
    }


    &-ctrlplay {
      display: flex;
      align-items: center;

      svg {
        width: 28px;
        height: 28px;
      }
    }

    &-ctrlpause {
      margin: 0 0.2rem;

      svg {
        width: 32px;
        height: 32px;
      }
    }


    &-ctrloptions {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      button {
        margin: 0 0.15rem;
      }
    }


    &-ctrltime {
      display: grid;
      grid-template-columns: auto 1fr auto;
      column-gap: 10px;
    }

    &-ctrlduration, &-ctrlcurrenttime {
      color: #444;
      font-size: 0.85rem;
      font-variant-numeric: tabular-nums;
      letter-spacing: -1px;
    }

    &-ctrlbar {
      $cursor-height: 14px;
      $cursor-transition-duration: 100ms;

      height: $cursor-height;

      align-self: center;
      position: relative;

      cursor: pointer;

      &-all, &-buffered, &-played {
        display: inline-block;
        height: 3px;

        position: absolute;
        left: 0;
        top: $cursor-height / 2;

        border-radius: 1000px;

        transition: width $cursor-transition-duration;
      }

      &-all {
        z-index: 10;
        width: 100%;
        background-color: #aaa;
      }

      &-buffered {
        z-index: 11;
        background-color: #888;
      }

      &-played {
        z-index: 12;
        background-color: #666;
      }

      &-cursor {
        width: 3px;
        height: $cursor-height;

        position: absolute;
        z-index: 13;
        left: 0;
        top: 0;

        background-color: #fff;
        border-radius: 1000px;
        box-shadow: $control-cursor-shadow;

        transition: left $cursor-transition-duration;
      }
    }


    &._paused .player-ctrlpause svg:nth-of-type(2) {
      display: none;
    }

    &:not(._paused) .player-ctrlpause svg:nth-of-type(1) {
      display: none;
    }


    &._fullscreen .player-ctrlfullscreen svg:nth-of-type(1) {
      display: none;
    }

    &:not(._fullscreen) .player-ctrlfullscreen svg:nth-of-type(2) {
      display: none;
    }
  }
}


$length: 189;
$offset: 20;

@keyframes player-spinner {
  0% {
    stroke-dashoffset: $length;
    stroke-dasharray: 0, $length;
  }

  25% {
    stroke-dashoffset: 0;
    stroke-dasharray: $length - $offset, $offset;
  }

  50% {
    stroke-dashoffset: -$length * 2;
    stroke-dasharray: 0, $length;
  }

  75% {
    stroke-dashoffset: -$length * 3;
    stroke-dasharray: $length - $offset, $offset;
  }

  100% {
    stroke-dashoffset: -$length * 5;
    stroke-dasharray: 0, $length;
  }
}

